@import "tailwindcss";

@plugin "daisyui" {
  themes: mydark --default, light;
}

@plugin "daisyui/theme" {
  name: "mydark";
  default: true;

  --color-base-100: #000000;
  --color-base-200: #0a0a0a;
  --color-base-300: #141414;

  --color-base-content: #ffffff;

  --color-primary: #3b82f6;
  --color-secondary: #9333ea;
  --color-accent: #22c55e;

  --color-neutral: #111111;
}

@media (max-width: 981px) {
  .navbar_2_div {
    width: 981px;
    height: 95px;
  }
  .navbar_divider_line {
    width: 981px;
  }
  .PainPoint_hero_text{
    width: 821px;
  }
  .PainPoint_left_image{
    width: 365px;
    height: 642px;
  }
  .PainPoint_right_card{
    width: 520px;
  }
  .Curriculum_container{
    width: 901px;
  }
  .Curriculum_left_side{
    width: 420px;
  }
  .Curriculum_right_side{
    width: 420px;
    height: 479px;
  }
  .Curriculum2_Slider{
    width: 901px; 
  }
  .CTA_Left{
    width: 442px;
  }
  .CTA_Right{
    width: 442px;
  }
}
@media (max-width: 681px) {
  .navbar_2_div {
    width: 681px;
    height: 92px;
  }
  .navbar_divider_line {
    width: 681px;
  }
  .PainPoint_hero_text{
    width: 545px;
  }
  .PainPoint_left_image{
    display: none;
  }
  .PainPoint_right_card{
    width: 625px;
  }
  .CCurriculum_title{
    width: 545px;
  }
  .Curriculum_container {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .Curriculum_left_side{
    width: 420px;
  }
  .Curriculum_right_side{
    display: none;
  }
  .Curriculum2_Slider{
    width: 625px; 
  }
  .CTA_Left{
    width: 480px;
  }
  .CTA_Right{
    width: 480px;
  }
  .footerSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer_1_text{
    text-align: center;
  }
  .footer_2_text{
    margin-bottom: 30px;
  }
  .footerCpyAndLinks{
    display: flex;
    flex-direction: column-reverse;;
    align-items: center;
  }
  .footer_links{
    margin-bottom: 40px;
  }
}
@media (max-width: 521px) {
  .navbar_2_div {
    width: 521px;
    height: 92px;
  }
  .navbar_divider_line {
    width: 521px;
  }
}
@media (max-width: 421px) {
  .navbar_2_div {
    width: 421px;
    height: 92px;
  }
  .navbar_divider_line {
    width: 421px;
  }
}
